<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nhaccuateoo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
        ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/ClientMusic/img/favicon.ico">
    <!-- Google Fonts
            ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Dashio/")lib/bootstrap-fileupload/bootstrap-fileupload.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Dashio/")lib/bootstrap-datepicker/css/datepicker.css" />

    <!-- font awesome CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/font-awesome.min.css">
    <!-- owl.carousel CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/ClientMusic/css/owl.theme.css">
    <link rel="stylesheet" href="~/Content/ClientMusic/css/owl.transitions.css">
    <!-- animate CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/animate.css">
    <!-- normalize CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/normalize.css">
    <!-- mCustomScrollbar CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- wave CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/wave/waves.min.css">
    <!-- Notika icon CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/notika-custom-icon.css">
    <!-- main CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/main.css">
    <!-- style CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/style.css">
    <!-- responsive CSS
            ============================================ -->
    <link rel="stylesheet" href="~/Content/ClientMusic/css/responsive.css">
    <!-- modernizr JS
            ============================================ -->
    <script src="~/Content/ClientMusic/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
</head>

<body>

    <!-- Login Register area Start-->
    <div class="login-content">
        <!-- Login -->
        <div class="nk-block toggled" id="l-login">
            <!-- 404 Page area Start-->
            <div class="error-page-area">
                <div class="error-page-wrap">
                    <i class="notika-icon notika-close"></i>
                    <h2>ERROR <span class="counter">404</span></h2>
                    <p>Trang bạn tìm kiếm không được tìm thấy</p>
                    <a href="@Url.Action("Index","Home")" class="btn">Quay lại trang chính</a>
                </div>
            </div>
            <!-- 404 Page area End-->
        </div>
    </div>
    <!-- Login Register area End-->
    <!-- jquery
            ============================================ -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/ClientMusic/js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/bootstrap.min.js"></script>
    <!-- wow JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/wow.min.js"></script>
    <!-- price-slider JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/counterup/jquery.counterup.min.js"></script>
    <script src="~/Content/ClientMusic/js/counterup/waypoints.min.js"></script>
    <script src="~/Content/ClientMusic/js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- jvectormap JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/jvectormap/jquery-jvectormap-2.0.2.min.js"></script>
    <script src="~/Content/ClientMusic/js/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Content/ClientMusic/js/jvectormap/jvectormap-active.js"></script>
    <!-- sparkline JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/sparkline/jquery.sparkline.min.js"></script>
    <script src="~/Content/ClientMusic/js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/flot/jquery.flot.js"></script>
    <script src="~/Content/ClientMusic/js/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/ClientMusic/js/flot/curvedLines.js"></script>
    <script src="~/Content/ClientMusic/js/flot/flot-active.js"></script>
    <!-- knob JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/knob/jquery.knob.js"></script>
    <script src="~/Content/ClientMusic/js/knob/jquery.appear.js"></script>
    <script src="~/Content/ClientMusic/js/knob/knob-active.js"></script>
    <!--  wave JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/wave/waves.min.js"></script>
    <script src="~/Content/ClientMusic/js/wave/wave-active.js"></script>
    <!--  todo JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/todo/jquery.todo.js"></script>
    <!-- plugins JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/plugins.js"></script>
    <!--  Chat JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/chat/moment.min.js"></script>
    <script src="~/Content/ClientMusic/js/chat/jquery.chat.js"></script>
    <!-- main JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/main.js"></script>
    <!-- Login JS
        ============================================ -->
    <script src="~/Content/ClientMusic/js/login/login-action.js"></script>
    <!-- tawk chat JS
      ============================================ -->
    <script src="~/Content/ClientMusic/js/tawk-chat.js"></script>

    <script src="~/Scripts/alertify.min.js"></script>
    <script>
 $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(1000).slideUp(500);
            });
    </script>
    <script src="@Url.Content("~/Content/Dashio/")lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Dashio/")lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Dashio/")lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="@Url.Content("~/Content/Dashio/")lib/advanced-form-components.js"></script>
</body>

</html>

