@using ModelViews.DTOs
@{
    ViewBag.Title = "PersonalUser";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
    UserDTO getInfoUser = ViewBag.getInfoUser;
    System.Diagnostics.Debug.Assert(getInfoUser.UserDOB != null, "getInfoUser.UserDOB != null");
    var date = (DateTime)getInfoUser.UserDOB;
    List<PlaylistDto> getPlaylistByIdUser = ViewBag.getPlaylistByIdUser;
    List<MusicDTO> getSong = ViewBag.getSong;
    List<MusicDTO> getMv = ViewBag.getMv;
}
@section js{
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(1000).slideUp(500);
        });
    </script>
    <script>
        $(document).ready(function () {
            var nameID = "#pageSong";
            var nameActive = "activeSong";
            $('#songSearch').show();
            //Click menu
            $('#menuSearch>div').click(function () {
                var id = $(this).attr("data-id");
                $('#menuSearch>div').removeClass("hoverSearch");
                $(this).addClass("hoverSearch");
                $('.musicSearch').hide();
                if (id == "1") {
                    nameID = "#pageSong";
                    nameActive = "activeSong";
                    $('#songSearch').show();
                } else if (id == "2") {
                    nameID = "#pageMV";
                    nameActive = "activeMV";
                    $('#videoSearch').show();
                } else if (id == "3") {
                    nameID = "#pagePlaylist";
                    nameActive = "activePlaylist";
                    $('#playlistSearch').show();
                }
            });

            $('#topicBxh>div>div').click(function () {
                $('#topicBxh>div>div').removeClass("activeTopicBxh");
                $(this).addClass("activeTopicBxh");
                if ($(this).attr("data-music") == "1") {
                    $('#songBxh').css("display", "block");
                    $('#mvBxh').css("display", "none");
                } else {
                    $('#songBxh').css("display", "none");
                    $('#mvBxh').css("display", "block");
                }
            });
            $('#inputImage').change(function (event) {
                var tmppath = URL.createObjectURL(event.target.files[0]);
                alert(tmppath);
                $('#upImage').fadeIn("fast").attr("src", tmppath);
            });
        });
    </script>
}
<!--Start Content-->
<div id="content" class="container">
    @if (TempData["AlertMessage"] != null)
    {
        <div id="AlertBox" class="alert @TempData["AlertType"]" hide>
            @TempData["AlertMessage"]
        </div>
    }
    <div id="info">
        <div>
            <img src="@getInfoUser.LinkImage" alt="">
        </div>
        <div>
            <span>
                @if (getInfoUser.UserVIP == true)
                {<i class="fa fa-crown"></i>}
                else { } @getInfoUser.UserName
            </span><br>
            <span>Sinh ngày: @date.ToString("dd-MM-yyyy")</span><br>
            @if (getInfoUser.UserGender == true)
            {
                <span>Giới tính: Nam</span><br>
            }
            else
            {
                <span>Giới tính: Nữ</span><br>
            }

            <span>Lời giới thiệu:</span>
            <span>
                @if (getInfoUser.UserDescription != null)
                {
                    @getInfoUser.UserDescription
                }
                else
                {
                    <label>Chưa có mô tả</label>
                } <br>
            </span>

        </div>
    </div>
    <div id="menuSearch" style="margin-top: -90px;">
        <div class="hoverSearch" data-id="1">Playlist</div>
        <div data-id="3">Tui Upload</div>
    </div>
    <div id="songSearch" class="musicSearch">
        @if (getInfoUser.ID == Convert.ToInt32(Session["UserId"]))
        {
            <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
               class="btn btn-primary" aria-controls="multiCollapseExample1"
               style="margin-left: 40px; margin-top: 10px;">Tạo Playlist</a>
        }

        <div class="collapse multi-collapse" id="multiCollapseExample1">
            <form action="" method="post">
                <div class="card card-body" style="width: 70%;margin-top: 20px;margin-left: 40px;">
                    <div class="form-group">
                        <label for="" style="margin-right: 12px;">Tên Playlist: </label>
                        <input type="text" name="" id="" style="width: 40%;">
                    </div>
                    <div class="form-group">
                        <label for="">Chọn Thể loại: </label>
                        <select name="" id="" style="width: 38%;">
                            <option value="">Cate 1</option>
                            <option value="">Cate 2</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="" style="margin-right: 50px;">Mô tả: </label>
                        <textarea name="" id="" maxlength="1000" style="width: 38%;"></textarea>
                    </div>
                    <div class="maincrop-img" style="margin-left: 95px;margin-bottom: 10px;">
                        <div class="image-crp-int">
                            <div class="img-preview img-preview-custom">
                                <img src="img/avt.png" id="upImage" style="width: 300px; height: 255px;">
                            </div>
                        </div>
                        <div class="image-crp-img">
                            <div class="btn-group images-cropper-pro">
                                <label title="Upload image file" for="inputImage"
                                       class="btn btn-primary img-cropper-cp waves-effect">
                                    <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                    Upload new image
                                </label>
                            </div>
                        </div>
                    </div>
                    <!--Button-->
                    <input type="submit" class="btn btn-info" value="Lưu"
                           style="margin-left: 94px;font-size: 18px;">
                </div>
            </form>
        </div>

        @if (getPlaylistByIdUser != null)
        {
            foreach (var itemPl in getPlaylistByIdUser)
            {
                <div class="itemBxh">
                    <img src="@itemPl.LinkImage" alt="">
                    <span>
                        <a href="" style="font-size: 20px;">@itemPl.PlaylistName</a><br>
                        <span style="left: 80px;">
                            <a href="">@itemPl.UserDto.UserName</a>
                        </span>
                    </span>
                    @if (getInfoUser.ID == Convert.ToInt32(Session["UserId"]))
                    {
                        <span style="left: 265px;">
                            <span><a href="@Url.Action("DeletePlaylistAndPlaylistMusic","EditPlaylist",new { id = itemPl.ID})"><i class="fas fa-trash-alt"></i> Xóa</a></span>
                            <span><a href="@Url.Action("EditPLaylist","EditPlaylist",new { id = itemPl.ID})"><i class="fas fa-edit"></i> Chỉnh sửa</a></span>
                        </span>
                    }
                </div>
            }
        }


    </div>

    <div id="playlistSearch" class="musicSearch">
        <div id="topicBxh">
            <div>
                <div class="activeTopicBxh" data-music="1">Bài hát</div>
                <div data-music="0">Video</div>
            </div>
        </div>
        <div id="songBxh" style="margin-left: 40px;">
            @foreach (var item in getSong)
            {
                <div class="itemBxh" style="width: 60%;">
                    <img src="@item.LinkImage" alt="">
                    <span>
                        <a href="" style="font-size: 20px;">@item.MusicName</a>(Chờ duyệt)<br>
                        <span style="left: 80px;">
                            @foreach (var singers in item.SingerMusicDtOs)
                            {
                                if (item.SingerMusicDtOs.IndexOf(singers) + 1 == item.SingerMusicDtOs.Count)
                                {
                                    <a>@singers.UserDto.UserName.</a>
                                }
                                else
                                {
                                    <a>@singers.UserDto.UserName,</a>
                                }
                            }
                        </span>
                    </span>
                    <span style="left: 209px;top: -2px;">
                        <span><i class="fas fa-headphones"></i> @item.MusicView</span>
                        @if (getInfoUser.ID == Convert.ToInt32(Session["UserId"]))
                        {
                            <span style="cursor: pointer;"><i class="far fa-trash-alt"></i> Xóa</span>
                        }

                        <span class="addPlaylist" style="cursor: pointer;">
                            <i class="fas fa-plus-circle"></i> Thêm
                            vào
                            <ul>
                                <li>Bài hát yêu thích</li>
                                <li>Test 1</li>
                                <li>Test2</li>
                            </ul>
                        </span>
                    </span>
                </div>
            }

        </div>
        <div id="mvBxh" style="margin-left: 40px;display: none;">
            @foreach (var item in getMv)
            {
                <div class="itemBxh" style="width: 60%;">

                    <img src="@item.LinkImage" alt="">
                    <span>
                        <a href="" style="font-size: 20px;">@item.MusicName</a><br>
                        <span style="left: 80px;">
                            @foreach (var singers in item.SingerMusicDtOs)
                            {
                                if (item.SingerMusicDtOs.IndexOf(singers) + 1 == item.SingerMusicDtOs.Count)
                                {
                                    <a>@singers.UserDto.UserName.</a>
                                }
                                else
                                {
                                    <a>@singers.UserDto.UserName,</a>
                                }
                            }
                        </span>
                    </span>
                    <span style="left: 209px;top: -2px;">
                        <span><i class="fas fa-headphones"></i> @item.MusicView</span>
                        @if (getInfoUser.ID == Convert.ToInt32(Session["UserId"]))
                        {
                            <span style="cursor: pointer;"><i class="fas fa-trash-alt"></i> Xóa</span>
                        }
                    </span>
                </div>
            }
        </div>
    </div>
</div>

<!--End content-->
