@using ModelViews.DTOs
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
    MusicDTO getMusic = ViewBag.getMusicById;
    LyricsMusicDTO getLyrics = ViewBag.getLyrics;
    List<MusicDTO> randomMusic = ViewBag.getMusicRandom;
    List<MusicDTO> SingerMusic = ViewBag.GetSinger;
    List<QualityMusicDTO> listQuality = ViewBag.getListQualityMusic;
}
@section js {
    <script>
        $(document).ready(function () {
            var valueAuto = true;
            var userVip = "false";
            var mainAudio = $("#myAudio");
            var mvFav = true;
            $('#checkAuto').change(function () {
                if ($('#checkAuto').prop('checked') == true) {
                    valueAuto = true;
                } else {
                    valueAuto = false;
                }
            });

            $("#myAudio").on("ended", function () {
                if (valueAuto == true) {
                    window.open($('.itemSongRandom>div>a:first-child').attr("href"), "_self");
                } else {
                    document.getElementById("myAudio").play();
                }
            });
            $('#selectQuality').change(function () {
                var optionSelected = $("#selectQuality option:selected");
                if (optionSelected.attr("data-vip") === true || (optionSelected.attr("data-vip") === "true" && userVip === "true")) {
                    mainAudio.attr("src", optionSelected.val());
                } else {
                    alert("not allow");
                }

            })
            if (mvFav === true) {
                $('#addFav').css('display', 'none');
            } else {
                $('#removeFav').css('display', 'none');
            }
            $('#removeFav').click(function () {
                $('#removeFav').css('display', 'none');
                $('#addFav').css('display', 'block');
            });
            $('#addFav').click(function () {
                $('#addFav').css('display', 'none');
                $('#removeFav').css('display', 'block');
            });

            //Edit lyrics
            $('#editLyrics').click(function () {
                if ($('#editLyrics').attr("data-hide") === "0") {
                    $('#containLyrics').text($('#lyrics').text());
                    $('#lyrics').hide();
                    $('#editLyrics').attr("data-hide", "1");
                } else {
                    $('#lyrics').show();
                    $('#editLyrics').attr("data-hide", "0");
                }

            });
            //Download file
            $('.buttondownload').on('click',
                function () {
                    const id = $(this).attr('data-id');

                    $.ajax({
                        url: 'https://localhost:44315/Client/playMusic/DownLoadFile',
                        type: 'GET',
                        dataType: 'json',
                        data: {
                            qualityId: id
                        },
                        success: function (res) {

                            saveAs(res.data);
                        }, error: function (err) {
                            alertify.error(err.message);
                        }
                    });
                });
        });
        function saveAs(url) {
            var filename = url.substring(url.lastIndexOf("/") + 1).split("?")[0];
            var xhr = new XMLHttpRequest();
            xhr.responseType = 'blob';
            xhr.onload = function () {
                var a = document.createElement('a');
                a.href = window.URL.createObjectURL(xhr.response);
                a.download = filename;
                a.style.display = 'none';
                document.body.appendChild(a);
                a.click();
                delete a;
            };
            xhr.open('GET', url);
            xhr.send();
        }

    </script>
    <!-- jquery
      ============================================ -->
    <!-- Input Mask JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/jasny-bootstrap.min.js"></script>
    <!-- icheck JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/icheck/icheck.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/icheck/icheck-active.js"></script>
    <!-- rangle-slider JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/rangle-slider/rangle-active.js"></script>
    <!-- datapicker JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/datapicker/bootstrap-datepicker.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/datapicker/datepicker-active.js"></script>
    <!-- bootstrap select JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/bootstrap-select/bootstrap-select.js"></script>
    <!--  color-picker JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/color-picker/farbtastic.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/color-picker/color-picker.js"></script>
    <!--  notification JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/notification/bootstrap-growl.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/notification/notification-active.js"></script>
    <!--  summernote JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/summernote/summernote-updated.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/summernote/summernote-active.js"></script>
    <!-- dropzone JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/dropzone/dropzone.js"></script>
    <!--  wave JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/wave/waves.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/wave/wave-active.js"></script>
    <!--  chosen JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/chosen/chosen.jquery.js"></script>
    <!--  Chat JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/chat/jquery.chat.js"></script>
    <!-- tawk chat JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/tawk-chat.js"></script>
}
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
<!--Start Content-->
<div id="content" class="container">
    <div class="gridMusic">
        <div class="gridLeft">
            <div class="name-view-music">
                <span>@getMusic.MusicName</span>
                <!--song-->
                 @*<a href=""><i class="fas fa-video"></i></a>*@ 
                <!--song-->
                <!--mv-->
                <a href=""><i class="fas fa-music"></i></a>
                <!--mv-->
                <span style="position: absolute;left: 730px;top:86px;font-size: 18px;">
                    <i class="fas fa-headphones"></i> @getMusic.MusicView
                </span>
            </div>
            <div class="playMusic">
                @if (getMusic.SongOrMV == true)
                {
                    //song
                    <img src="@getMusic.LinkImage" alt="">
                    <audio autoplay controls id="myAudio">
                        <source src="nhac-demo.mp3" type="audio/mpeg">
                    </audio>
                    //song
                }
                else
                {
                    <!--mv-->
                    <video autoplay controls id="myAudio">
                        <source src="@listQuality.SingleOrDefault(x=>x.QualityID == 2).LinkFile" type="audio/mpeg">
                    </video>
                    <!--mv-->
                }


                <!--song-->
                <!-- <img src="img/avt.png" alt="">
    <audio autoplay controls id="myAudio">
        <source src="nhac-demo.mp3" type="audio/mpeg">
    </audio> -->
                <!--song-->
                <!--mv-->
                <!--mv-->
                <div class="menuMusic">
                    <img src="@Url.Content("~/Content/ClientMusic/")img/avt.png" alt="">
                    <div>
                        <span>Cung cấp bởi:</span><br>
                        <span style="color: #00c292;font-weight: 700;">Nhaccuateoo</span>
                    </div>
                    <div>
                        <span>Tự động chuyển bài:</span>
                        <input type="checkbox" name="" id="checkAuto" checked><br>
                        <!--song-->
                        <!-- <span class="addPlaylist" style="cursor: pointer;"><i class="fas fa-plus-circle"></i> Thêm
                vào
                <ul>
                    <li>Bài hát yêu thích</li>
                    <li>Test 1</li>
                    <li>Test2</li>
                </ul>
            </span> -->
                        <!--song-->
                        <!--mv-->
                        <span style="cursor: pointer;" id="removeFav">
                            <i class="fas fa-heart"></i> Bỏ Yêu
                            thích
                        </span>
                        <span style="cursor: pointer;" id="addFav"><i class="far fa-heart"></i> Yêu thích</span>
                        <!--mv-->
                    </div>
                    <div>
                        <span>Chất lượng: </span>
                        <select name="" id="selectQuality">
                            <!--song-->
                            <!-- <option value="nhac-demo.mp3" data-vip="false">128kbps</option>
                <option value="nhac-demo-2.mp3" data-vip="true">320kbps</option> -->
                            <!--song-->
                            <!--mv-->
                            @if (listQuality != null)
                            {
                                foreach (var qualityMusicDto in listQuality)
                                {
                                    <option value="@qualityMusicDto.LinkFile" data-vip="@qualityMusicDto.QualityDto.QualityVip">
                                        @qualityMusicDto.QualityDto.QualityName   @if (qualityMusicDto.QualityDto.QualityVip)
                                        {
                                            <p>
                                                <i class="fas fa-crown"></i>
                                            </p>
                                        }
                                    </option>
                                    //    <option value="@qualityMusicDto.LinkFile" data-vip="@qualityMusicDto.QualityDto.QualityVip">@qualityMusicDto.QualityDto.QualityName</option>
                                }
                            }
                            <!--mv-->
                        </select><br>
                        <a data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
                           aria-controls="multiCollapseExample1" style="color: black;">
                            <i class="fa fa-download"></i>
                            Tải về
                        </a>
                    </div>
                    <div>
                        <a href=""><img src="@Url.Content("~/Content/ClientMusic/")img/share_fb.png" alt=""></a>
                    </div>
                </div>
                <div class="collapse multi-collapse" id="multiCollapseExample1">
                    <div class="card card-body" id="downFile">
                        @if (listQuality != null)
                        {
                            foreach (var quality in listQuality)
                            {
                                // so sanh user vip o day uservip == quality.qualitydto.vip
                                if (quality.QualityDto.QualityVip)
                                {
                                    <button disabled="disabled" class="buttondownload btn btn-default" data-id="@quality.ID">
                                        @quality.QualityDto.QualityName
                                        @if (quality.QualityDto.QualityVip)
                                        {
                                            <i class="fas fa-crown"></i>
                                        }
                                    </button>
                                }
                                else
                                {
                                    <button class="buttondownload btn btn-default" data-id="@quality.ID">
                                        @quality.QualityDto.QualityName
                                        @if (quality.QualityDto.QualityVip)
                                        {
                                            <i class="fas fa-crown"></i>
                                        }
                                    </button>
                                }


                            }
                        }
                        else
                        {
                            <p>Chua co file</p>
                        }
                    </div>
                </div>
            </div>
            <div class="lyrics">
                <span style="font-size: 18px;font-weight: 700;">Lời Bài Hát: @getMusic.MusicName</span><br>
                <span>
                    <span>
                        Trình bày bởi:
                        <a href="">
                            @foreach (var itemSinger in SingerMusic)
                            {
                                if (itemSinger.ID == getMusic.ID)
                                {
                                    foreach (var singers in itemSinger.SingerMusicDtOs)
                                    {
                                        <a>@singers.UserDto.UserName,</a>
                                    }
                                }

                            }
                        </a>
                    </span>
                </span><br>
                <span>
                    Lời đăng bởi:
                    @if (getLyrics != null)
                    {
                        <a href=""> @getLyrics.UserDto.UserName</a>
                    }
                    else
                    {
                        <a href=""> chưa có người đăng</a>
                    }


                </span>
                <div style="border: 1px solid #00c292;margin-top: 10px;margin-bottom: 20px;"></div>
                <!--Lyrics-->
                <p id="lyrics">
                    @if (getLyrics != null)
                    {
                    <p>
                        @getLyrics.LMusicDetail
                    </p>
                    }
                    else
                    {
                        <span>
                        Hiện tại chưa có lời bài hát, cập nhật lời bài hát <a data-toggle="collapse"
                                                                              href="#multiCollapseExample2" role="button" aria-expanded="false"
                                                                              aria-controls="multiCollapseExample2">tại đây</a>
                    </span>
                    }

                 </p>

                    <!--Lyrics-->
                    <!--Post Lyrics-->

                    <div class="collapse multi-collapse" id="multiCollapseExample2">
                        <div class="card card-body" style="width: 70%;">
                            <form action="" method="POST">
                                <div class="input-group">
                                    <textarea type="text"
                                              style="width: 500px;height: 300px;margin-bottom: 10px;">

                                            </textarea>
                                    <input type="submit" id="btnLyrics" value="Gửi lời">
                                </div>

                            </form>
                        </div>
                    </div>
                    <!--Post Lyrics-->
                    <!--Edit Lyrics-->
                    <a data-toggle="collapse" href="#multiCollapseExample3" role="button" aria-expanded="false"
                       aria-controls="multiCollapseExample3" id="editLyrics" data-hide="0">
                        <i class="fas fa-edit"></i>
                        Chỉnh sửa lời bài hát
                    </a>
                    <div class="collapse multi-collapse" id="multiCollapseExample3">
                        <div class="card card-body" style="width: 70%;">
                            <form action="" method="POST">
                                <div class="input-group">
                                    <textarea type="text" id="containLyrics"
                                              style="width: 500px;height: 300px;margin-bottom: 10px;">

                                        </textarea>
                                    <input type="submit" id="btnEditLyrics" value="Cập nhật">
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Edit Lyrics-->
                </div>
            </div>
            <div class="gridRight">
                <span class="lblMusic">Nghe tiếp</span>

                @foreach (var item in randomMusic)
                {<div class="itemSongRandom">
                        <div>
                            <a href="nhac-demo-2.mp3"><img src="@item.LinkImage" alt=""> @item.MusicName</a><br>
                            <span>
                                <a href="">@item.UserDto.UserName</a>,
                                @foreach (var itemSinger in SingerMusic)
                                {
                                    if (itemSinger.ID == item.ID)
                                    {
                                        foreach (var singers in itemSinger.SingerMusicDtOs)
                                        {
                                            <a>,@singers.UserDto.UserName</a>
                                        }
                                    }

                                }
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>

    </div>
    <!--End content-->
