<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Nhaccuateoo</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Google Fonts
              ============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/bootstrap.min.css">
    <!-- Bootstrap CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/font-awesome.min.css">
    <!-- owl.carousel CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/owl.carousel.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/owl.theme.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/owl.transitions.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Dashio/")lib/bootstrap-datepicker/css/datepicker.css" />
    <!-- meanmenu CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/animate.css">
    <!-- normalize CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/normalize.css">
    <!-- mCustomScrollbar CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- notika icon CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/notika-custom-icon.css">
    <!-- wave CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/wave/waves.min.css">
    <!-- main CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/main.css">
    <!-- style CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")style.css">
    <!-- responsive CSS
              ============================================ -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClientMusic/")css/responsive.css">
    <!-- modernizr JS
              ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/vendor/modernizr-2.8.3.min.js"></script>

    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
    <!--My script-->
    <script src="https://kit.fontawesome.com/d93a4b936d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="~/Content/ClientMusic/js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
    <link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />

</head>

<body>
    <!--[if lt IE 8]>
              <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
          <![endif]-->
    <!-- Start Header Top Area -->
    @{ Html.RenderAction("NavigationMenu", "Home"); }
    <!-- End Header Top Area -->
    <!--Start Content-->
    <div id="content" class="container">
        @if (TempData["AlertMessage"] != null)
        {
            <div id="AlertBox" class="text-center alert @TempData["AlertType"]" hide>
                @TempData["AlertMessage"]
            </div>
        }
        @RenderBody()
    </div>
    <!--End content-->
    <!-- Start Footer area-->
    <div class="footer-copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div style="display: inline;font-size: 16px;color: white;line-height: 40px;">
                        <span><i class="fas fa-map-marker-alt"></i> 24-26 Phan Liêm, phường Đa Kao, Quận 1</span>
                        <span style="margin-left: 15px;"><i class="fas fa-phone-alt"></i> (+84)912345678</span>
                        <span style="margin-left: 15px;"><i class="fas fa-envelope"></i> nhaccuateo@aht.nct</span>
                        <span style="float: right;">
                            © 2020 <a href="https://colorlib.com">Colorlib</a>
                            . All rights reserved.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer area-->
    <script>
        $(document).ready(function () {
            window.onload = function () {
                var itv = window.setInterval(function () { prevImages() }, 5000);

                var next = document.getElementById("btnNext");
                var prev = document.getElementById("btnPrev");
                if (next != null && prev != null) {
                    next.addEventListener("click", function () {
                        nextImages();
                    });

                    prev.addEventListener("click", function () {
                        prevImages();
                    });
                }
            };
            function nextImage(item) {
                item.style.left = parseInt(item.style.left) + item.offsetWidth + 10 + "px";
            }
            function nextImages() {
                var lsImg = document.getElementsByClassName("imgItem");
                for (var i = 0; i < lsImg.length; i++) {
                    nextImage(lsImg[i]);
                }
                createImgFirst();
            }
            function prevImage(item) {
                item.style.left = parseInt(item.style.left) - item.offsetWidth - 10 + "px";
            }
            function prevImages() {
                var lsImg = document.getElementsByClassName("imgItem");
                for (var i = 0; i < lsImg.length; i++) {
                    prevImage(lsImg[i]);
                }
                createImgLast();
            }
            function createImgFirst() {
                var containImg = document.getElementById("owl-wrapper");
                var lastImg = document.getElementById("owl-wrapper").lastElementChild;
                var newImg = document.createElement("img");
                newImg.className = "imgItem";
                newImg.src = lastImg.src;
                newImg.style.left = parseInt(containImg.firstElementChild.style.left) - containImg.firstElementChild.offsetWidth - 10 + "px";
                lastImg.remove();
                containImg.insertBefore(newImg, containImg.firstElementChild);
            }
            function createImgLast() {
                var containImg = document.getElementById("owl-wrapper");
                if (containImg != null) {
                    var fisrtImg = document.getElementById("owl-wrapper").firstElementChild;
                    var newImg = document.createElement("img");
                    newImg.className = "imgItem";
                    newImg.src = fisrtImg.src;
                    newImg.style.left = parseInt(containImg.lastElementChild.style.left) + containImg.lastElementChild.offsetWidth + 10 + "px";
                    fisrtImg.remove();
                    containImg.appendChild(newImg);
                }

            }
        });
    </script>
    <!-- jquery
          ============================================ -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/vendor/jquery-1.12.4.min.js"></script>
    <!-- bootstrap JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/bootstrap.min.js"></script>
    <!-- wow JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/wow.min.js"></script>
    <!-- price-slider JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/jquery-price-slider.js"></script>
    <!-- owl.carousel JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/owl.carousel.min.js"></script>
    <!-- scrollUp JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/jquery.scrollUp.min.js"></script>
    <!-- meanmenu JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/meanmenu/jquery.meanmenu.js"></script>
    <!-- counterup JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/counterup/jquery.counterup.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/counterup/waypoints.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/counterup/counterup-active.js"></script>
    <!-- mCustomScrollbar JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- sparkline JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/sparkline/jquery.sparkline.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/sparkline/sparkline-active.js"></script>
    <!-- sparkline JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/flot/jquery.flot.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/flot/jquery.flot.resize.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/flot/curvedLines.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/flot/flot-active.js"></script>
    <!-- knob JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/knob/jquery.knob.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/knob/jquery.appear.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/knob/knob-active.js"></script>
    <!--  todo JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/todo/jquery.todo.js"></script>
    <!-- plugins JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/plugins.js"></script>
    <!-- Login JS
          ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/login/login-action.js"></script>
    <!-- Mustache JS
    ============================================ -->
    <script src="~/Content/ClientMusic/js/Mustache.js"></script>
    <!-- main JS
    ============================================ -->


    <script src="@Url.Content("~/Content/ClientMusic/")js/main.js"></script>
    <script src="~/Scripts/alertify.min.js"></script>
    @RenderSection("js", false)
    @RenderSection("headerJs", false)
    <script src="~/Scripts/alertify.min.js"></script>
    <script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(2000).slideUp(500);
        });
    </script>
</body>

</html>