@using ModelViews.DTOs
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_LayoutClient.cshtml";
    PlaylistDto playlistDTO = ViewBag.getPlaylistById;
    List<PlaylistDto> randomPlaylist = ViewBag.getListPlaylist;
    List<PlaylistMusicDTO> playlistMusicDTOs = ViewBag.getPlaylistMusic;
    List<MusicDTO> SingerMusic = ViewBag.GetSinger;
    List<PlaylistDto> getPlatlistByIdUser = ViewBag.getPlaylistByIdUser;
    List<PlaylistDto> getPlatlistByIdUser1 = ViewBag.getPlaylistByIdUser1;
    int number = 1;
}
@section js{

    <script>
        $(document).ready(function () {
            var valueRepeat = false;
            var valueRandom = false;
            var valueAuto = true;
            var mainAudio = $('#myAudio');
            var itemLength = $('.itemPlaylist').length;
            $('.itemPlaylist:first-child').addClass("active-playlist");
            mainAudio.attr("src", $('.itemPlaylist:first-child>span>a').attr("data-src"));
            var idMusicFirst = parseInt($('.itemPlaylist:first-child>span>a').attr("data-id"));
            UpdateView(idMusicFirst);
            $('#checkAuto').change(function () {
                if ($('#checkAuto').prop('checked') == true) {
                    valueAuto = true;
                } else {
                    valueAuto = false;
                }
            });
            $('#checkRepeat').change(function () {
                if ($('#checkRepeat').prop('checked') == true) {
                    valueRepeat = true;
                    $('#checkRandom').prop('checked', false);
                    valueRandom = false;
                } else {
                    valueRepeat = false;
                }
            });
            $('#checkRandom').change(function () {
                if ($('#checkRandom').prop('checked') == true) {
                    valueRandom = true;
                    $('#checkRepeat').prop('checked', false);
                    valueRepeat = false;
                } else {
                    valueRandom = false;
                }
            });
            $("#myAudio").on("ended", function () {
                var index = $('.itemPlaylist').index($('.active-playlist')) + 1;
                var nextItem = $('.itemPlaylist:nth-child(' + (index + 1) + ')');
                var nextItemHref = $('.itemPlaylist:nth-child(' + (index + 1) + ')>span>a').attr("data-src");
                var nextItemID = $('.itemPlaylist:nth-child(' + (index + 1) + ')>span>a').attr("data-id");
                if (valueRepeat == true) {
                    document.getElementById("myAudio").play();
                } else if (valueRandom == true) {
                    var random = Math.floor((Math.random() * itemLength) + 1);
                    $('.itemPlaylist').removeClass("active-playlist");
                    $('.itemPlaylist:nth-child(' + random + ')').addClass("active-playlist");
                    mainAudio.attr("src", $('.itemPlaylist:nth-child(' + random + ')>span>a').attr("data-src"));
                    UpdateView(parseInt($('.itemPlaylist:nth-child(' + random + ')>span>a').attr("data-id")));
                } else if (index == itemLength && valueAuto == true) {
                    window.open($('.itemSongRandom>div>a:first-child').attr("href"), "_self");
                } else if (index == itemLength) {
                    $('.itemPlaylist').removeClass("active-playlist");
                    $('.itemPlaylist:first-child').addClass("active-playlist");
                    mainAudio.attr("src", $('.itemPlaylist:first-child>span>a').attr("data-src"));
                    UpdateView(idMusicFirst);
                } else {
                    $('.itemPlaylist').removeClass("active-playlist");
                    nextItem.addClass("active-playlist");
                    mainAudio.attr("src", nextItemHref);
                    UpdateView(parseInt(nextItemID));
                }
            });
            $('.itemPlaylist').click(function () {
                $('.itemPlaylist').removeClass("active-playlist");
                $(this).addClass("active-playlist");
                mainAudio.attr("src", $('.active-playlist>span>a').attr("data-src"));
                UpdateView(parseInt($('.active-playlist>span>a').attr("data-id")));
            })
            //add music playlist
            $('.addPlaylist li').click(function () {
                var idplist = parseInt($(this).attr("data-idPlist"));
                var idmusic = parseInt($(this).attr("data-idMusic"));
                $.post("/Client/AddMusicPlaylist", { PlaylistID: idplist, MusicID: idmusic }).done(function (res) {
                    var stt = res.status;
                    if (stt == true) {
                        alertify.success("Thêm bài hát vào playlist thành công.");
                    } else {
                        alertify.error("Lỗi khi thêm bài hát vào playlist. Mời thử lại.");
                    }
                });
            });
            //update view
            function UpdateView(idMusic) {
                $.ajax({
                    url: '/Client/UpdateView',
                    type: 'GET',
                    dataType: 'json',
                    contentType: "application/json",
                    data: { idMusic },
                    success: function (res) {
                        var view = res.data;
                        console.log(view);
                    }
                });
            }
        });
    </script>
    <!-- Input Mask JS
        ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/jasny-bootstrap.min.js"></script>
    <!-- icheck JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/icheck/icheck.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/icheck/icheck-active.js"></script>
    <!-- rangle-slider JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/rangle-slider/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/rangle-slider/jquery-ui-touch-punch.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/rangle-slider/rangle-active.js"></script>
    <!-- datapicker JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/datapicker/bootstrap-datepicker.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/datapicker/datepicker-active.js"></script>
    <!-- bootstrap select JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/bootstrap-select/bootstrap-select.js"></script>
    <!--  color-picker JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/color-picker/farbtastic.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/color-picker/color-picker.js"></script>
    <!--  notification JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/notification/bootstrap-growl.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/notification/notification-active.js"></script>
    <!--  summernote JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/summernote/summernote-updated.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/summernote/summernote-active.js"></script>
    <!-- dropzone JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/dropzone/dropzone.js"></script>
    <!--  wave JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/wave/waves.min.js"></script>
    <script src="@Url.Content("~/Content/ClientMusic/")js/wave/wave-active.js"></script>
    <!--  chosen JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/chosen/chosen.jquery.js"></script>
    <!--  Chat JS
            ============================================ -->
    <script src="@Url.Content("~/Content/ClientMusic/")js/chat/jquery.chat.js"></script>

    <!-- tawk chat JS
            ============================================ -->
    <script src="js/tawk-chat.js"></script>
}
<!--Start Content-->
<div id="content" class="container">
    <div class="gridMusic">
        <div class="gridLeft">
            <div class="name-view-music">
                <span>@playlistDTO.PlaylistName - @playlistDTO.UserDto.UserName</span>
                <span style="position: absolute;left: 730px;top:86px;font-size: 18px;">

                </span>
            </div>
            <div class="playMusic">
                <!--song-->
                <img src="@playlistDTO.LinkImage" alt="">
                <audio autoplay controls id="myAudio">
                    <source src="" type="audio/mpeg">
                </audio>
                <!--song-->
                <div id="playlistMusic">
                    @foreach (var item in playlistMusicDTOs)
                    {
                        <div class="itemPlaylist">
                            <span>
                                <span> @number. </span>
                                <a href="@Url.Action("Index", "playMusic", new { id = item.MusicID })" data-src="@item.MusicDto.FileImage" data-id="@item.MusicID" target="_blank">@item.MusicDto.MusicName -</a>
                                <span>
                                    @foreach (var itemSinger in SingerMusic)
                                    {
                                        if (itemSinger.ID == item.MusicID)
                                        {
                                            foreach (var singers in itemSinger.SingerMusicDtOs)
                                            {
                                                <a>@singers.UserDto.UserName,</a>
                                            }
                                        }

                                    }
                                </span>
                            </span>
                            <span>
                                @if (item.MusicDto.MusicDownloadAllowed == true)
                                {
                                    <span>
                                        <a href="#" download="nhac" style="color: black;" id="downFile"
                                           title="Tải về"><i class="fa fa-download"></i></a>
                                    </span>
                                }

                                <span class="addPlaylist" style="cursor: pointer;">
                                    <i class="fas fa-plus-circle"></i>
                                    <ul>
                                        @if (Session["UserSession"] != null)
                                        {
                                            if (getPlatlistByIdUser == null)
                                            {
                                                <span>Bạn chưa có playlist nào. <a href="#">TẠO</a></span>
                                            }
                                            else
                                            {
                                                foreach (var itemPlaylist in getPlatlistByIdUser)
                                                {
                                                    <li data-idPlist="@itemPlaylist.ID" data-idMusic="@item.MusicID"><a href="">@itemPlaylist.PlaylistName</a> </li>

                                                }
                                            }

                                        }
                                        else
                                        {

                                            <li><a href="@Url.Action("Login","Login")">Đăng nhập để tạo playlist</a> </li>
                                        }

                                    </ul>
                                </span>
                                <span><i class="fas fa-headphones"></i> @item.MusicDto.MusicView</span>
                            </span>
                        </div>
                    }
                </div>
                <div class="menuMusic">
                    <img src="@playlistDTO.UserDto.LinkImage" alt="">
                    <div>
                        <span>Cung cấp bởi:</span><br>
                        <span style="color: #00c292;font-weight: 700;">@playlistDTO.UserDto.UserName</span>
                    </div>
                    <div>
                        <span>Auto chuyển Playlist:</span>
                        <input type="checkbox" name="" id="checkAuto" checked><br>
                    </div>
                    <div>
                        <span>Lặp lại 1 bài:</span>
                        <input type="checkbox" name="" id="checkRepeat"><br>
                    </div>
                    <div>
                        <span>Ngẫu nhiên:</span>
                        <input type="checkbox" name="" id="checkRandom"><br>
                    </div>

                    <div>
                        <a href=""><img src="img/share_fb.png" alt=""></a>
                    </div>
                </div>

                @if (playlistDTO.PlaylistDescription == null)
                {

                    <p style="margin-top: 15px;margin-left: 20px;font-size: 16px;">
                        Không có mô tả
                    </p>
                }
                else
                {
                    <p style="margin-top: 15px;margin-left: 20px;font-size: 16px;">@playlistDTO.PlaylistDescription</p>
                }

            </div>

        </div>
        <div class="gridRight">
            <span class="lblMusic">Nghe tiếp</span>
            @if (randomPlaylist != null)
            {
                foreach (var item in randomPlaylist)
                {
                    <div class="itemSongRandom">
                        <div>
                            <a href="nhac-demo.mp3">
                                <img src="@item.LinkImage" alt="" style="border-radius: 0%;"> @item.PlaylistName
                            </a><br>
                            <span>
                                <a href="">@item.UserDto.UserName</a>
                            </span>
                        </div>
                    </div>
                }
            }
            else
            {
                <label>chưa có bài hát</label>
            }

        </div>
    </div>

</div>

<!--End content-->
