<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered"><a href="profile.html"><img src="@Url.Content("~/Content/Dashio/")img/ui-sam.jpg" class="img-circle" width="80"></a></p>
            <h5 class="centered">Sam Soffes</h5>
            <li class="mt">
                <a href="@Url.Action("ViewCreateCate","Home")">
                    <i class="fa fa-dashboard"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("ListFile","QualityMusic")">
                    <i class="fa fa-map-marker"></i>
                    <span>File wait for approval </span>
                </a>
            </li>
            <li class="sub-menu">
                <a href="javascript:;">
                    <i class="fa fa-desktop"></i>
                    <span>User</span>
                </a>
                <ul class="sub">
                    <li><a href="@Url.Action("ListSinger","User")">Singer</a></li>
                    <li><a href="@Url.Action("ListUser","User")">User</a></li>
                </ul>
            </li>
          
            <li class="sub-menu">
                <a class="active" href="javascript:;">
                    <i class="fa fa-book"></i>
                    <span>Music Managent</span>
                </a>
                <ul class="sub">
                    <li class="active"><a href="@Url.Action("Index","Music")">Music</a></li>
                    <li><a href="@Url.Action("Index","MusicRank")">Ranks</a></li>
                    <li><a href="@Url.Action("Index","OrderVip")">Orders</a></li>
                    <li><a href="@Url.Action("Index","Quality")">Qualities</a></li>
                    <li><a href="@Url.Action("Index","PackageVip")">Manage Package vip </a></li>
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Index","Partner")">
                    <i class="fa fa-envelope"></i>
                    <span>Partner </span>
                    <span class="label label-theme pull-right mail-info">2</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>