@model ModelViews.DTOs.QualityMusicDTO
@using ModelViews.DTOs
@{
    ViewBag.Title = "ViewCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<QualityDTO> list = ViewBag.getQuanlity;
    List<QualityMusicDTO> listFile = ViewBag.getList;
}
@section js
{
    <script src="@Url.Content("~/Content/Dashio/")lib/jquery-ui-1.9.2.custom.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Dashio/")lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script src="@Url.Content("~/Content/Dashio/")lib/advanced-form-components.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Dashio/")lib/bootstrap-fileupload/bootstrap-fileupload.js"></script>
    <script type="text/javascript" language="javascript" src="@Url.Content("~/Content/Dashio/")lib/advanced-datatable/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/Dashio/")lib/advanced-datatable/js/DT_bootstrap.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>
        $('.select2').select2();
    </script>
    <script type="text/javascript">
        /* Formating function for row details */
        //function fnFormatDetails(oTable, nTr) {
        //    var aData = oTable.fnGetData(nTr);
        //    var sOut = '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">';
        //    sOut += '<tr><td>Rendering engine:</td><td>' + aData[1] + ' ' + aData[4] + '</td></tr>';
        //    sOut += '<tr><td>Link to source:</td><td>Could provide a link here</td></tr>';
        //    sOut += '<tr><td>Extra info:</td><td>And any further details here (images etc)</td></tr>';
        //    sOut += '</table>';

        //    return sOut;
        //}

        $(document).ready(function () {
            /*
             * Insert a 'details' column to the table
             */
            var nCloneTh = document.createElement('th');
            var nCloneTd = document.createElement('td');
            nCloneTd.innerHTML = '';
            nCloneTd.className = "center";

            $('#hidden-table-info thead tr').each(function () {
                this.insertBefore(nCloneTh, this.childNodes[0]);
            });

            $('#hidden-table-info tbody tr').each(function () {
                this.insertBefore(nCloneTd.cloneNode(true), this.childNodes[0]);
            });

            /*
             * Initialse DataTables, with no sorting on the 'details' column
             */
            var oTable = $('#hidden-table-info').dataTable({
                "aoColumnDefs": [{
                    "bSortable": false,
                    "aTargets": [0]
                }],
                "aaSorting": [
                    [1, 'asc']
                ]
            });

            /* Add event listener for opening and closing details
             * Note that the indicator for showing which row is open is not controlled by DataTables,
             * rather it is done here
             */
            $('#hidden-table-info tbody td img').live('click', function () {
                var nTr = $(this).parents('tr')[0];
                if (oTable.fnIsOpen(nTr)) {
                    /* This row is already open - close it */
                    this.src = "lib/advanced-datatable/media/images/details_open.png";
                    oTable.fnClose(nTr);
                } else {
                    /* Open this row */
                    this.src = "lib/advanced-datatable/images/details_close.png";
                    oTable.fnOpen(nTr, fnFormatDetails(oTable, nTr), 'details');
                }
            });
        });
    </script>
}
<h2>Create Quality Music</h2>
<div class="container">
    @using (Html.BeginForm("Create", "QualityMusic", FormMethod.Post, new 
    {
        enctype = "multipart/form-data"
    }))
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal form-panel">
            <hr />

            <div class="form-group">
                @Html.LabelFor(model => model.MusicFile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <span class="btn btn-theme02 btn-file">
                            <span class="fileupload-new"><i class="fa fa-paperclip"></i> Select file</span>
                            <span class="fileupload-exists"><i class="fa fa-undo"></i> Change</span>
                            <input name="FileQ" type="file" class="default" accept=".png,.jpg"/>
                        </span>
                        <span class="fileupload-preview" style="margin-left:5px;"></span>
                        <a href="advanced_form_components.html#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none; margin-left:5px;"></a>
                    </div>
                    @Html.ValidationMessageFor(model => model.MusicFile, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QualityID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    <div>
                        <input type="hidden" name="MusicID" value="@Session["idQ"]" />
                        <select name="QualityID" id="UserId" class="form-control select2">
                            @foreach (var item in list)
                            {
                                <option value="@item.ID">@item.QualityName</option>
                            }
                        </select>
                    </div>
                    @Html.ValidationMessageFor(model => model.QualityID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.QMusicApproved, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox" style="margin-left: 20px;">
                        @Html.EditorFor(model => model.QMusicApproved)
                        @Html.ValidationMessageFor(model => model.QMusicApproved, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button class="btn btn-theme" type="submit"><i class="fa fa-heart"></i> Add</button>
                </div>
            </div>
        </div>
    }
    <div>
        <section id="">
            <section class="wrapper">
                <h3><i class="fa fa-angle-right"></i> List</h3>
                <div class="row mb">
                    <!-- page start-->
                    <div class="content-panel">
                        <div class="adv-table">
                            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                                <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th class="hidden-phone">Quality</th>
                                        <th class="hidden-phone">Approved</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in listFile)
                                    {
                                        <tr class="gradeA odd">
                                            <td>@item.MusicFile</td>
                                            <td class="center hidden-phone">@item.QualityDto.QualityName</td>
                                            <td class="center hidden-phone">
                                                @if (item.QMusicApproved == true)
                                                {
                                                    <label>Approved</label>
                                                }
                                                else
                                                {
                                                    <label>Not approved</label>
                                                }
                                            </td>
                                            <td>
                                                <a href="@Url.Action("Edit","QualityMusic", new { id = item.ID})">
                                                    <button type="button" class="btn btn-round btn-warning">Edit</button>
                                                </a>
                                                <a href="@Url.Action("Delete","QualityMusic", new { id = item.ID})">
                                                    <button type="button" class="btn btn-round btn-danger">Delete</button>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- page end-->
                </div>
                <!-- /row -->
            </section>
            <!-- /wrapper -->
        </section>
    </div>

</div>



<div>
    @Html.ActionLink("Back to List", "Index", "Music")
</div>
